<p class="d-flex justify-content-center h1">Do you really wanna?</p>
<% if @user %>
  <p>登入身份: <%= @user.email %></p>
  <%= button_to '登出', user_logout_path, method: :delete, class: 'btn btn-danger' %>
<% end %>