<div class="bg-secondary w-100 py-5 d-none d-md-block mt-md-5">
  <div class="col-9 mx-auto border-bottom">
    <p class="text-center mb-1" style="font-size: 13px">
      <a href="#" class="px-1 custom-footer-link">投資者專區</a>｜
      <a href="#" class="px-1 custom-footer-link">關於我們</a>｜
      <a href="#" class="px-1 custom-footer-link">廣告刊登</a>｜
      <a href="#" class="px-1 custom-footer-link">交換連結</a>｜
      <a href="#" class="px-1 custom-footer-link">新聞剪輯</a>｜
      <a href="#" class="px-1 custom-footer-link">社會公益</a>｜
      <a href="#" class="px-1 custom-footer-link">免責聲明</a>｜
      <a href="#" class="px-1 custom-footer-link">服務條款</a>｜
      <a href="#" class="px-1 custom-footer-link">隱私權聲明</a>｜
      <a href="#" class="px-1 custom-footer-link">數字經銷商</a>
    </p>
  </div>
    <p class="text-center my-1" style="font-size: 13px">
      <a href="#" class="px-1 custom-footer-link">591租屋</a>｜
      <a href="#" class="px-1 custom-footer-link">591中古屋</a>｜
      <a href="#" class="px-1 custom-footer-link">591新建案</a>｜
      <a href="#" class="px-1 custom-footer-link">591新聞</a>｜
      <a href="#" class="px-1 custom-footer-link">591實價登入</a>｜
      <a href="#" class="px-1 custom-footer-link">香港591房屋交易網</a>｜
      <a href="#" class="px-1 custom-footer-link">100室內設計</a>｜
      <a href="#" class="px-1 custom-footer-link">台灣8591寶物交易網</a>｜
      <a href="#" class="px-1 custom-footer-link">香港8591寶物交易網</a>
    </p>
     <p class="text-center my-1" style="font-size: 13px">
      <a href="#" class="px-1 custom-footer-link">8891汽車交易網</a>｜
      <a href="#" class="px-1 custom-footer-link">518熊班</a>｜
      <a href="#" class="px-1 custom-footer-link">Tasker出任務</a>｜
      <a href="#" class="px-1 custom-footer-link">小雞上工</a>
    </p>
</div>