<%# 搜尋條件 %>
<%= render 'shared/search_options', query: @query, counties: @counties, areas: @areas %>

<%# 精選物件開始 %>
<div class="container d-flex align-items-end justify-content-between pt-4 pb-2 px-0">
  <h5 class="mb-0">精選推薦</h5>
  <span>我也要出現在這裡<i class="fas fa-angle-right ms-2"></i></span>
</div>
<div class="container border-start border-end border-bottom custom-border-top p-4 position-relative">
  <%= render 'promotion', rent_items: @rent_items %>
</div>
<%# 精選物件結束 %>
<div class="container px-0 mt-4 d-flex">
  <div class="w-75" id="rent-list">
    <% @rent_items.each do |item| %>
      <%= render 'items', item: item %>
    <% end %>
    <div id="paginator">
    <%= paginate @rent_items %>
  </div>
  </div>
  <div class="w-25 ps-4">
    <button class="w-100 fs-3 py-2" style="border: 1px solid #ff8100; background: #fff; color: #ff8100">刊登出租</button>
  </div>
</div>