<li class="page-item">
  <%#= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote, class: 'page-link' %>
  <%= link_to_unless current_page.first?, '上一頁', url, rel: 'prev', remote: remote, class: 'page-link' %>
</li>
