// custom text size and weight
.custom-size{
  // font-size: 18px;
  font-weight: 500;
}
.custom-footer-link{
  // font-size: 12px;
  color: #eee;
  text-decoration: none;
  transition: all .15s;
  &:hover{
    color: #ff8100;
  }
}
.navbar{
  box-shadow: 0px -2px 8px 0px;
}
.custom-link{
  display: block;
  padding: .5rem 1rem;
  color: #000;
  text-decoration: none;
  transition: color .15s;
  position: relative;
  &::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 8%;
    background: #ff8100;
    opacity: 0;
    transition: all .15s;
  }
  &:hover::before{
    opacity: 1;
  }

  &:hover{
    color: #ff8100;
  }
}
.custom-border-top{
  border-top: 3px solid #ff8100;
}

a.nav-link:hover{
  color: #ff8100 !important;
}
.card-custom-hover{
  transition: all .1s ease-in;
  &:hover{
    background: #eee;
  }
}
.divide-line{
  display: inline-block;
  height: 15px;
  width: 1px;
  border-right: 1px solid rgba(0,0,0, .55);
}

.search-btn{
  max-width: 125px;
  width: 100%;
  color: #fff;
  background: #ff8100;
  border: 1px solid #ff8100;
}

// 輪播 css
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-height: 180px;
  max-height: 180px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #fff;
  background: rgba(0,0,0, .5);
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after{
  font-size: 16px !important;
}
.mySwiper{
  position: static;
}